.footerContainer {
    margin-top: 4rem;
    color: white;
    background-color: #195999;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    text-align: center;
}
.footerTitle {
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 1rem;
}
.logos {
    display: inline-block;
}
.linkedInLogo {
    margin-right: 2rem;
}
.footerText {
}
