.nav-link {
    background: transparent;
    border: none;
    color: white;
    font-size: 3vw;
    padding-right: 2vw;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.navbar li {
    display: inline-block;
}

.navbar {
    display: flex;
    width: 100%;
    padding-top: 1.5rem;
    opacity: 25%;
    position: absolute;
    padding-left: 70vw;
}
