.meWrapper {
    width: 100%;
    height: 40vw;
    background-color: white;
    text-align: justify;

    font-size: 3vw;
    color: #257ca3;
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meInfo {
    padding-top: 3rem;
    font-size: 1vw;
    width: 50%;
    color: black;
}

@media screen and (max-width: 700px) {
    .meWrapper {
    }
}
